h1{color: rgb(238, 146, 9); text-align: center; font-size: 65px;}
        h2{color: coral; text-align: left; font-size: 35px;}
        p1{font-style: italic;}
        .paragrafo {
            text-align: left; font-size: 20px; 
            background-color: bisque;
        }
        .caixa{
            margin: 10px;
            margin-left: 50px;
            padding: 20px;
            border: 4px solid black;
            width: fit-content;
            background-color: coral;
        }/* Posicionamento da caixa */

        #primeiralista{font-size: 40px;}
        body{
            background-image: url(uninterlogo.jpg);
            background-repeat: no-repeat; background-size: 500px;
            background-attachment: fixed;
        }